@media (min-width: 320px) {
    #LoginPage {
        margin-top: 20%;
        margin-bottom: 20%;
        padding: 30% 10%;
    }
}
@media (min-width: 1025px) {
    #LoginPage {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 8% 30%;
    }
}

body {
    background-color: #7d7d7d;
}

#LoginPage {
    /* screen sizing */
    max-width: 100vw;
    overflow:hidden;

    background-color: #2e2e2e;
    text-align: center;
}
image {
    align-content: center;
}

h1 {
    color: white;
    margin: 5%;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    border: 1px solid #993232;
    border-width: 0px;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:hover {
    background-color: #ffc7c7;
    border-color: #d42626;
}
button {
    width: 100%;
    padding: 2%;

    border-radius: 4px;
    border-width: 0px;
    border-style: solid;
    color: white;
    background-color: #993232;
}

button:hover {
    background-color: #d42626;
}
p {
    color: white;
}
Link {
    color: #d42626;
    text-decoration: none;
    font-weight: bold;
}
Link:hover {
    text-decoration: underline;
}