.event-page {
    background-color: #E2E7E9;
}

.eventTitle {
    font-weight: bold;
    color: #3B8EDE;

}

.details {
    margin-left: 10%;
    margin-right: 10%;

}

svg {
    margin-right: 1%;
}

i {
    margin-right: 5%;
    font-size: large;
}

.eventImage {
    margin-top: 10%;
    margin-bottom: 10%;
    display: inline;
}

.intro {
    margin-bottom: 4%;
}

.eventDetails {
    background-color: #DDE6EA;
    padding: 3%;
    border-radius: 10px;
    display: inline;
}