@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Source+Sans+Pro&display=swap');

#landing {
    text-align: center;
}

#header {
    font-family: 'Josefin Slab', serif;
    font-size: 4em;
    padding-left: 30px;
    padding-top: 80px;

    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#secondLanding{
    text-align: center;
}

#timeline{
    padding-left: 210px;
}

#timelineimg{
    padding-top: 40px;
}


#subheading {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 0px;
    font-size: 100px;
}

#landingImg {
    text-align: right;
    padding-left: 170px;
    padding-top: 20px;

}

#timeline{
    padding-top: 50px;
}