#item-card-image {
    height: 170px;
    width: 100%;
    background-color: white;
}

#item-card-price {
    display: inline-block;
    position: absolute;
    top: -42px;
    font-size: 8px;
    border-radius: 10%;
    background-color: #e9f9f1;
    color: white;
    padding: 0rem .5rem;
}

#item-card-description {
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow: hidden
}

@media screen and (max-width:600px) {
    #item-card-image {}
    #item-card-description {}
    #item-card-price {
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    #item-card-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}