.container {
    padding-left: 2rem;
  }

p {
    text-align: center;
}

span {
    font-weight: bold;
    color: rgb(28, 146, 146);
}

.createLink {
    color:rgb(28, 146, 146);
    text-decoration: none;
}

.imgLink{
    text-decoration: none;
}

.post {
    width: 13rem;
    height: 13rem;
    padding: 2rem;
    border:2px solid #fff;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

.addIcon {
    position:fixed;
    bottom:0;
    right:0;
}

.editHead {
    padding-top: 2rem;
    font-weight: bold;
    color: rgb(112, 5, 126);
}

.avatarButton {
    float: right;
}