.farmIntro {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0%;
}
.masthead {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.farmImage {
  border-radius: 0% 0% 5% 5%;
  margin-bottom: 2%;
  max-height: 500px;
  display:block;
  margin: 0 auto;
}

.farmSpecifics {
  margin-top: 2.5%;
  margin-left: 2.5%;
}

.column {
  float: left;
  width: 50%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}