.nav {
  background: #ce9aec;
  display: flex;
  height: 4rem;
  justify-content:space-between;
  padding: 0.2rem;
}

.menu {
  display:-webkit-inline-flex;
}

.navLink {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.navBalance{
  color: darkblue;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}


.navBtn {
  display: flex;
  align-items: center;
  background: #591baa;
  color: #fffefe;
  font-size: x-large;
  border: 20%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: .4rem;
  margin-left: 10rem;
}

.navBtnLink {
    text-decoration: none;
    color: white;
}

.navBtn:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    text-decoration: none;
    color: #66148b;
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0% 2%;
  height: 100%;
  cursor: pointer;
}

.nftLink {
  text-decoration: none;
  color: #591baa;
}