.stars {
    font-size: 1.5rem;
    font-style: normal;
    position: relative;
    top: -.1em;
}

.stars i {
    font-style: normal;
}

.full-star:after {
    content: "\2605";
}

.empty-star:after {
    content: "\2606";
}