#add-item-success-icon{
    width:50%;
    min-width: 100px;
    max-width: 250px;
    max-height: 50%;
    display: block;
    margin: 0 auto;
}
#add-item-img{
    
    max-height: 250px;
    max-width: 320px;
    width:100%;
}