/* CSS classes */

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

a {
    color: white;
    text-decoration: none !important;
}

body {
    --midnight-green-eagle-green: #114b5fff;
    --pine-green: #166f67ff;
    --illuminating-emerald: #1a936fff;
    --granny-smith-apple: #88d498ff;
    --tea-green: #c6dabfff;
    --beige: #dde2c9ff;
    --eggshell: #f3e9d2ff;
    background-color: #ffffff !important;
}
#root > div{
    margin: 0 auto;
    max-width: 2000px;
}
.fc-pine-green {
    color: var(--pine-green);
}

.fc-tea-green {
    color: var(--tea-green);
}

.fc-beige {
    color: var(--beige);
}

.fc-eggshell {
    color: var(--eggshell);
}