input[type="file"] {
    display: none;
}
.custom-file-upload {
    border-radius: .5rem;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(37, 37, 241);
    color: white;
}